In [1]:
# Importing the necessary libraries
import pandas as pd
import numpy as np

In [2]:
# Load the dataset
dataset = pd.read_csv('titanic.csv')   #pd.dataFrame
print(dataset)

     PassengerId  Survived  Pclass  \
0              2         1       1
1              4         1       1
2              7         0       1
3             11         1       3
4             12         1       1
..           ...       ...     ...
178          872         1       1
179          873         0       1
180          880         1       1
181          888         1       1
182          890         1       1

                                                  Name     Sex   Age  SibSp  \
0    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
1         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
2                              McCarthy, Mr. Timothy J    male  54.0      0
3                      Sandstrom, Miss. Marguerite Rut  female   4.0      1
4                             Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
178   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
179                           Carlsson, Mr. Frans Olof    male  33.0      0
180      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
181                       Graham, Miss. Margaret Edith  female  19.0      0
182                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked
0        0  PC 17599  71.2833          C85        C
1        0    113803  53.1000         C123        S
2        0     17463  51.8625          E46        S
3        1   PP 9549  16.7000           G6        S
4        0    113783  26.5500         C103        S
..     ...       ...      ...          ...      ...
178      1     11751  52.5542          D35        S
179      0       695   5.0000  B51 B53 B55        S
180      1     11767  83.1583          C50        C
181      0    112053  30.0000          B42        S
182      0    111369  30.0000         C148        C

[183 rows x 12 columns]

In [3]:
# Identify the categorical data

categories = [
# dataset['PassengerId'].unique()
list(dataset['Survived'].unique()) ,
list(dataset['Pclass'].unique()) ,
list(dataset['Sex'].unique()) ,
list(dataset['SibSp'].unique()) ,
list(dataset['Parch'].unique()) ,
# dataset['Ticket'].unique()  
# dataset['Fare'].unique() ,
# dataset['Cabin'].unique() ,
list(dataset['Embarked'].unique()) ]

print(categories)

[[1, 0], [1, 3, 2], ['female', 'male'], [1, 0, 3, 2], [0, 1, 2, 4], ['C', 'S', 'Q']]

In [4]:
print(dataset['Survived'].value_counts(),
      dataset['Pclass'].value_counts(),
      dataset['Sex'].value_counts(),
      dataset['SibSp'].value_counts(),
      dataset['Parch'].value_counts(),
      dataset['Embarked'].value_counts(), sep = '\n\n'
      )

Survived
1    123
0     60
Name: count, dtype: int64

Pclass
1    158
2     15
3     10
Name: count, dtype: int64

Sex
male      95
female    88
Name: count, dtype: int64

SibSp
0    110
1     64
2      6
3      3
Name: count, dtype: int64

Parch
0    122
1     37
2     23
4      1
Name: count, dtype: int64

Embarked
S    116
C     65
Q      2
Name: count, dtype: int64

In [5]:
print(dataset.columns.values)

['PassengerId' 'Survived' 'Pclass' 'Name' 'Sex' 'Age' 'SibSp' 'Parch'
 'Ticket' 'Fare' 'Cabin' 'Embarked']

In [17]:
# X = dataset.iloc[:, dataset.columns != 'Survived'].values

X = dataset.values     #to make np array
y = dataset.iloc[:, 1].values

In [18]:

# Implement an instance of the ColumnTransformer class

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [19]:
# Apply the fit_transform method on the instance of ColumnTransformer

ct = ColumnTransformer( transformers = [('encoder', OneHotEncoder(), [4,11,2])], remainder = 'passthrough')

In [20]:

# Convert the output into a NumPy array

X = np.array(ct.fit_transform(X))

X

array([[1.0, 0.0, 1.0, ..., 'PC 17599', 71.2833, 'C85'],
       [1.0, 0.0, 0.0, ..., '113803', 53.1, 'C123'],
       [0.0, 1.0, 0.0, ..., '17463', 51.8625, 'E46'],
       ...,
       [1.0, 0.0, 1.0, ..., '11767', 83.1583, 'C50'],
       [1.0, 0.0, 0.0, ..., '112053', 30.0, 'B42'],
       [0.0, 1.0, 1.0, ..., '111369', 30.0, 'C148']], dtype=object)

In [21]:

# Use LabelEncoder to encode binary categorical data

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [22]:
y = le.fit_transform(dataset['Survived'])

In [24]:

# Print the updated matrix of features and the dependent variable vector

print(X)
print(y)

[[1.0 0.0 1.0 ... 'PC 17599' 71.2833 'C85']
 [1.0 0.0 0.0 ... '113803' 53.1 'C123']
 [0.0 1.0 0.0 ... '17463' 51.8625 'E46']
 ...
 [1.0 0.0 1.0 ... '11767' 83.1583 'C50']
 [1.0 0.0 0.0 ... '112053' 30.0 'B42']
 [0.0 1.0 1.0 ... '111369' 30.0 'C148']]
[1 1 0 1 1 1 1 0 1 0 0 1 0 1 0 0 1 0 0 0 1 0 1 0 0 0 1 0 0 0 1 1 1 1 0 1 1
 1 1 1 0 1 0 0 1 0 0 1 1 0 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 0 0 0 1 0 1 1 1 1
 1 1 1 0 1 1 1 1 1 1 0 1 0 1 1 0 1 0 1 0 1 1 1 0 0 1 0 1 0 1 0 1 1 1 0 1 1
 0 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 0 1 1 1 1 1 1 0 0 0 1 1 1 1 0 0 1 1 1 1 1
 0 1 1 1 1 1 0 1 0 0 1 1 1 1 0 1 1 0 0 1 1 0 1 1 1 1 1 1 1 0 1 0 1 1 1]